.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    margin-top: 280px;
    margin-left: 60px;
  }
  
  .baloon {
    width: 250px;
  position: absolute;
  margin-left: 350px;
  z-index: 1;
  }
  
  .speech {
    font-size: 20px;
    position: absolute;
    margin-top: 50px;
    margin-left: 370px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    margin-left: 600px;
    position: absolute;
   margin-top: 150px;
  }